<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>AdminLTE 3 | Registration Page</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"
    />
    <link
      rel="stylesheet"
      href="<%= baseUrl %>plugins/fontawesome-free/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="<%= baseUrl %>plugins/icheck-bootstrap/icheck-bootstrap.min.css"
    />
    <link rel="stylesheet" href="<%= baseUrl %>dist/css/adminlte.min.css" />
    <script src="<%= baseUrl %>plugins/jquery/jquery.min.js"></script>
    <script src="<%= baseUrl %>plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="<%= baseUrl %>dist/js/adminlte.min.js"></script>
    <script src="<%= baseUrl %>plugins/sweetalert2/sweetalert2.min.js"></script>
    <link
      rel="stylesheet"
      href="<%= baseUrl %>plugins/sweetalert2/sweetalert2.min.css"
    />
  </head>
  <body class="hold-transition register-page">
    <%- body %>
  </body>
</html>
