<div class="content-wrapper">
  <%- include('../partials/page_title'); %> <%- include('./create'); %> <%- include('./update'); %>
  <section class="content">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title mt-1"><b><%= title %> List</b></h3>
        <div class="card-tools pr-2">
          <a
            data-toggle="modal"
            data-target="#createExpenseCategoryModal"
            href="#"
            class="btn btn-primary btn-sm"
          >
            <i class="fas fa-plus"></i> Add New <%= singleTitle %>
          </a>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table
          id="expenseCategoryList"
          class="table table-bordered table-sm table-striped"
        >
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Description</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% expenseCategories.forEach(function(expenseCategory) { %>
            <tr>
              <td><%= expenseCategory.id %></td>
              <td><%= expenseCategory.name %></td>
              <td><%= expenseCategory.description %></td>
              <td>
                <a
                  href="#"
                  class="btn btn-info btn-xs text-capitalize statusChange"
                  data-status="<%= expenseCategory.status %>"
                  data-id="<%= expenseCategory.id %>"
                  ><%= expenseCategory.status %></a
                >
              </td>
              <td>
                <a href="#" class="btn btn-info btn-xs">
                  <i class="fas fa-info-circle"></i> View
                </a>
                <a
                  class="btn updateExpenseCategory btn-primary btn-xs"
                  data-id="<%= expenseCategory.id %>"
                >
                  <i class="fas fa-edit"></i> Edit
                </a>
                <a
                  href="#"
                  data-id="<%= expenseCategory.id %>"
                  class="deleteExpenseCategory btn btn-danger btn-xs"
                >
                  <i class="fas fa-trash"></i> Delete
                </a>
              </td>
            </tr>
            <% }); %>
          </tbody>
          <tfoot>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Description</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </section>
</div>

<script>
  $(function () {
    // datatable code
    $("#expenseCategoryList")
      .DataTable({
        responsive: true,
        lengthChange: false,
        autoWidth: false,
        order: false,
        pageLength: 10,
        lengthChange: true,
      })
      .buttons()
      .container();

    $(".statusChange").click(function () {
      const expenseCategoryId = $(this).data("id");
      const currentStatus = $(this).data("status");
      const updateStatus = currentStatus == "active" ? "inactive" : "active";
      Swal.fire({
        title: "Are you sure?",
        text: `Want to change status ${currentStatus} to ${updateStatus}`,
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, change it!",
      }).then((result) => {
        if (result.isConfirmed) {
          // AJAX request to delete permission
          $.ajax({
            url: "<%= baseUrl %>expensecategory/status/" + expenseCategoryId,
            type: "PATCH",
            data: { status: updateStatus },
            success: function (response, textStatus, xhr) {
              if (xhr.status == 200) {
                Swal.fire({
                  title: "Status changed!",
                  text: "<%= singleTitle %> has been updated successfully.",
                  icon: "success",
                  timer: 1500,
                  showConfirmButton: false,
                }).then(() => {
                  location.reload();
                });
              } else {
                Swal.fire({
                  title: "Error!",
                  text: response.message || "Failed to update expense category status.",
                  icon: "error",
                });
              }
            },
            error: function (xhr) {
              Swal.fire({
                title: "Error!",
                text:
                  xhr.responseJSON?.message ||
                  "An error occurred while updating the expense category.",
                icon: "error",
              });
            },
          });
        }
      });
    });

    // Delete functionality with SweetAlert
    $(".deleteExpenseCategory").click(function () {
      const expenseCategoryId = $(this).data("id");
      Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!",
      }).then((result) => {
        if (result.isConfirmed) {
          // AJAX request to delete permission
          $.ajax({
            url: "<%= baseUrl %>expensecategory/delete/" + expenseCategoryId,
            type: "DELETE",
            success: function (response, textStatus, xhr) {
              if (xhr.status == 200) {
                Swal.fire({
                  title: "Deleted!",
                  text: "<%= singleTitle %> has been deleted successfully.",
                  icon: "success",
                  timer: 1500,
                  showConfirmButton: false,
                }).then(() => {
                  location.reload();
                });
              } else {
                Swal.fire({
                  title: "Error!",
                  text: response.message || "Failed to delete item.",
                  icon: "error",
                });
              }
            },
            error: function (xhr) {
              Swal.fire({
                title: "Error!",
                text:
                  xhr.responseJSON?.message ||
                  "An error occurred while deleting the item.",
                icon: "error",
              });
            },
          });
        }
      });
    });

    // Update functionality with SweetAlert
    $(".updateExpenseCategory").click(function () {
      const expenseCategoryId = $(this).data("id");
      $.ajax({
        url: "<%= baseUrl %>expensecategory/read/" + expenseCategoryId,
        type: "GET",
        success: function (response) {
          const data = response.data;
          console.log(response);
          $("#updateExpenseCategoryModal").modal("show");
          $("#updateExpenseCategoryForm input[name=name]").val(data.name);
          $("#updateExpenseCategoryForm textarea[name=description]").val(data.description);
          $(".expenseCategoryIdUpdate").text(data.id);

          $("#updateExpenseCategoryForm").submit(function (event) {
            event.preventDefault();

            const formData = {
              name: $("#updateExpenseCategoryForm input[name=name]").val(),
              description: $("#updateExpenseCategoryForm textarea[name=description]").val(),
            };

            $.ajax({
              url: "<%= baseUrl %>expensecategory/update/" + expenseCategoryId,
              type: "PATCH",
              data: JSON.stringify(formData),
              contentType: "application/json",
              success: function (response, textStatus, xhr) {
                if (xhr.status == 200) {
                  Swal.fire({
                    title: "Success!",
                    text: response.message,
                    icon: "success",
                    confirmButtonText: "OK",
                  }).then((result) => {
                    if (result.isConfirmed) {
                      location.reload();
                    }
                  });
                }
              },
              error: function (xhr) {
                let errorMessage = "An error occurred while creating the role.";
                if (xhr.responseJSON && xhr.responseJSON.message) {
                  errorMessage = xhr.responseJSON.message;
                }
                Swal.fire({
                  title: "Error!",
                  text: errorMessage,
                  icon: "error",
                  confirmButtonText: "OK",
                });
              },
            });
          });
        },
        error: function (xhr) {
          console.error(xhr);
        },
      });
    });
  });
</script> 